name: Interchain Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        id: build_push_image
        uses: docker/build-push-action@v3
        with:
          file: Dockerfile
          context: .
          push: true
          platforms: linux/amd64
          tags: |
            osmolabs/fee-abstraction-ictest:latest
  test-basic:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    steps:
      - name: Set up Go 1.21
        uses: actions/setup-go@v3
        with:
          go-version: 1.21

      - name: checkout code
        uses: actions/checkout@v3

      - run: make ictest-basic
        env:
          BRANCH_CI: 'latest'

  test-ibc:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    steps:
      - name: Set up Go 1.21
        uses: actions/setup-go@v3
        with:
          go-version: 1.21

      - name: checkout code
        uses: actions/checkout@v3

      - run: make ictest-ibc
        env:
          BRANCH_CI: 'latest'


  test-ibc-ibcfee:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    steps:
      - name: Set up Go 1.21
        uses: actions/setup-go@v3
        with:
          go-version: 1.21

      - name: checkout code
        uses: actions/checkout@v3

      - run: make ictest-ibc-custom
        env:
          BRANCH_CI: 'latest'


  test-packet-forward:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    steps:
      - name: Set up Go 1.21
        uses: actions/setup-go@v3
        with:
          go-version: 1.21

      - name: checkout code
        uses: actions/checkout@v3

      - run: make ictest-packet-forward
        env:
          BRANCH_CI: 'latest'

  test-host-zone-proposal:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    steps:
      - name: Set up Go 1.21
        uses: actions/setup-go@v3
        with:
          go-version: 1.21

      - name: checkout code
        uses: actions/checkout@v3

      - run: make ictest-host-zone-proposal
        env:
          BRANCH_CI: 'latest'

  test-feeabs:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    steps:
      - name: Set up Go 1.21
        uses: actions/setup-go@v3
        with:
          go-version: 1.21

      - name: checkout code
        uses: actions/checkout@v3

      - run: make ictest-feeabs
        env:
          BRANCH_CI: 'latest'

  test-query-osmosis-twap:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    steps:
      - name: Set up Go 1.21
        uses: actions/setup-go@v3
        with:
          go-version: 1.21

      - name: checkout code
        uses: actions/checkout@v3

      - run: make ictest-query-osmosis-twap
        env:
          BRANCH_CI: 'latest'
